.Home {
  text-align: center;
  font-family: BreeSerif-Regular;
}

@font-face {
  font-family: BreeSerif-Regular;
  src: url(./BreeSerif-Regular.ttf);
}

.home-link {
  margin: 50px;
  position: absolute;
  margin-top: 50px;
  left: 0;
}

.services-link {
  margin: 50px;
  position: absolute;
  margin-top: 50px;
  left: 65px;
}

.pricing-link {
  margin: 50px;
  position: absolute;
  margin-top: 50px;
  left: 150px;
}

.ig {
  margin: 50px;
  position: absolute;
  margin-top: 50px;
  right: 200px;
}

.fb {
  margin: 50px;
  position: absolute;
  margin-top: 50px;
  right: 160px;
}

.contact {
  margin: 50px;
  position: absolute;
  margin-top: 43px;
  right: 20px;
}

.logo {
  height: 120px;
  width: auto;
}

.care {
  font-size: 60px;
}

.pup {
  height: 370px;
  width: auto;
  border-radius: 3%;
}

.appointment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 470px;
}

.split-left {
  height: 100%;
  width: 50%;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  overflow-x: hidden;
  padding-top: 250px;
  margin-bottom: 300px;
  left: 0;
}

.split-right {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  justify-content: left;
  padding-top: 170px;
  padding-bottom: 300px;
  right: 0;
}
